.rateBlock {
  color: #040426;
  background-color: #f7f8fc;
  margin: 40px 16px 8px;
  border-radius: 20px;
  padding: 8px 0;
  text-align: center;
  font-size: 13px;
  line-height: 18px;

  .rateText {
    opacity: 0.4;
  }
}
